.flex-container {
    display: flex;
}

#app {
    width: 1100px;
    height: auto;
}

#drawArea {
    display: flex;
    flex-wrap: wrap;
    border: 2px black solid;
    width: 800px;
    height: 800px;
    
}

.pixel {
    border: 1px solid rgb(223, 223, 223);
    flex-wrap: wrap;
}


.colored {
    background-color: black;
}

#controlPanel {
    padding: 50px;
    flex-direction: column;
}

.controls {
    margin: 5px;
}